@media screen and (max-width: 600px) 
{

    body
    {
        width:100vw;
    }

    a
    {    
        padding-left:10vw; 
    }

    /* #region  NAVBAR*/
    /* .navWeb
    {
        display:none;
    } */

    #navMenuTop
    {
        display:none;
    }    

    #navMenu
    {
        justify-content: center !important;
    }

    .navBar
    {
        position: absolute;
        /* padding-left:30vw; */
        padding-left:0 !important;
        height: 15vw !important; 
        width: 100vw;       
        font-size:5vw;              
    }

    #navRedesTop
    {
        padding-left:0px !important
    }

    #navRedes
    {
        display:none !important;
        justify-content: center !important;
    }

    
    
    /* #endregion */

    /* #region FOTO MASSA */
    #fotoMassa
    {
        height: 130vw !important;    
        background-image: url(img/foto-sm_mobile.jpg);    
        background-repeat: no-repeat;
        background-size: 100% !important;
        background-attachment: fixed;        
    }

    #sergioMassaTexto
    {
        display: block;
        position:absolute;
        top:40%;
        left:10vw;
        z-index: 2;
        width:80%;
        height: fit-content;
    }

    #sergio
    {    
        width:fit-content;
        font-size:10vw;    
        padding:2% !important;
        margin: 0;
    }

    #massa
    {    
        width: fit-content;
        font-size:20vw;  
        position:relative;
        margin:0 0 0 18%;
        padding:0 1% 0 1% !important;

    }

    #divSergioMassa
    {
        display: none;
    }

    /* #endregion */

    /* #region SLOGAN */
    #divTextPub
    {
        height: fit-content;    
    }

    #textPub
    {
        font-size: 6.5vw !important;     
        text-align:center;
        height: auto !important;
        width:100%;
        margin-left:0;
        padding: 10vh 8vw 5vh 8vw !important;
        
    }

    #textPubTwitter
    {
        margin-left: 0;
        font-size: 6vw; 
        padding: 2vh 0 5vh 0;
        text-align: center;
    }

    /* #endregion */
    
    /* #region SITES */

    #divSitios
    {
        /* height:250vw; */
        height: fit-content;
        padding-bottom:4vh;
        background-color: #0074BB;
    }
   
    #divTitleSitios
    {        
        /* width:90%; */
        margin-left:5%;
    }

    #titleSitios
    {        
        font-size:7vw;
        padding:4vh 0 1vh 0;
        text-align: center;
    }

 

    #divImagenesSitios
    {
        display:block;
        height:fit-content !important;
        width:100%;
    }

     .divImgTxtSitios
    {        
        /* height:51% !important;         */
        margin:auto !important;
        margin-bottom:2vh !important;
    } 

    .imgClassSitios
    {
        display:none;
    }

    .imgClassSitiosMobile
    {
        display: unset;
        border-radius:6%;
        /* border: solid #00C2EA 2vw;     */        
        /* width:80%;     */
    }

    .titleOver
    {
        padding-top:2.5vh;
        padding-bottom:1.6vh;    
        font-size:5vw;    
    }


    .divTextOverlay
    {        
        opacity: 0.8;
        background-color:transparent;    
        /* height:50%;         */
    }

        
    .hrSitios
    {
        border:solid 1px;
        margin: 0 2vw 0 2vw;
    }

    .textOver
    {
        padding:20px 5vw 0 5vw !important;    
        font-size:4vw;
    }

    /* #endregion */

    
    /* #region FORM */
    #titleFormulario
    {        
        font-size:7vw;
        padding:3.5vw;
        text-align: center;
        margin: 5vw 0 0 0 !important;        
    }  

    #divFormulario
    {
        height:130vw;
    }

    #formulario
    {
        padding:5vw 10vw 0 10vw !important;    
        text-align: center;
    }

    .form-group
    {
        height: 50px !important;
        /* padding:20px 0 20px 0 !important; */
    }
        
    #btnEnviar
    {        
        margin-top:5vw;
        font-size:6vw;
    }

    /* #endregion */

    /* #region NAVBAR BOTTOM */
    .navBarBottom
    {
        height:15vw;
        font-size:5vw;
        padding-left:0px;   
        justify-content: center !important; 
        position: absolute;
        left:0;
        bottom:0;
    }

    #hayAlternativa
    {
        display:none;
    }
    
    #twitterBottom
    {
        padding-left:0 !important;
    }

    /* #endregion */
}



