@font-face
{
    font-family: chivoBold;
    src:url(font/Chivo-Bold.otf);
}
@font-face
{
    font-family: chivoBlack;
    src:url(font/Chivo-Black.otf);
}

@font-face
{
    font-family: chivoLight;
    src:url(font/Chivo-Light.otf);
}

body{
    display: flex;
    flex-wrap: wrap;
    font-family: chivoLight !important;
  }

*{
    border:0;
    padding: 0;
    margin:0;   
}

div
{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;    
    width: 100%;
    height: 100vh;
}

#navMenu
{
    height: 50px;    
    justify-content: left !important;
}

#navMenuTop
{
    height: 50px !important;    
    justify-content: left !important;
}

#navRedes
{
    height: 50px !important;    
    text-align: right !important;
}

#navRedesTop
{
    height: 50px !important;    
    text-align: right !important;
}

.navBar
{
    height:50px;
    width:100vw;
    background-color: #696969;
    color:white;
    font-family: chivoLight;
    font-size:15px;
    padding-left:7vw;   
    /* justify-content: left !important;  */
    position:fixed !important;
    z-index: 2;
}

a
{
    color:white !important;
    padding-left:40px;
    text-decoration: none;
    white-space: nowrap;
}

#fotoMassa
{
    background-image: url(img/foto-sm_2.jpg);
    /* background-size:cover; */
    background-attachment: fixed;        
    background-repeat: no-repeat;
    background-size: 100% !important;       
}

#imgMasaInicio
{
    display: none;
}

#imgMassa
{
    max-width:100%;
    max-height:100%;    
}

#sergioMassaTexto
{
    display: none;
}

#divSergioMassa
{    
    background-color: rgba(0, 0, 0, 0.6);
    background: transparent !important;    
    width:100%;    
    /* border:solid; */
}

#sergio
{
    font-family: chivoLight;
    background-color:black;
    color:white;
    font-size:55px;    
    padding:0 10px 0 10px !important;
    /* position: absolute; */
    z-index: -1;
}

#massa
{
    font-family: chivoBold;
    color:white;    
    font-size:80px;   
    background-color:#8ADBE5;
    /* padding:0 8px 0 8px !important; 
    margin-top:160px;
    margin-left:150px; */

}

#divTextPub
{
    display: block;
    /* border:solid; */
    width:100%;    
}

#textPub
{
    font-size: 3.7vw;    
    width:70%;
    text-align: center;
    color:#696969;
    font-family: chivoBold;
    margin-left:16vw;
    height:30vw;
    text-align: left;
    padding: 35vh 0 30vh 0 !important;
}

#textPubTwitter
{
    /* margin: 0px 100px 0px 275px; */
    margin-left: 16%;
    color:#2F90C5;
    font-size: 3.7vw;    
}

#divSitios
{
    /* border:solid; */
    width:100%;
    background-color:#00A0DC;
    display: block;    
}

#divTitleSitios
{
    height: fit-content;
    width:90%;    
    margin-left:5%;
    padding-top:1.5vh;    
    justify-content: left !important;
}

#titleSitios
{
    color:white;
    font-family: chivoBold;
    font-size:40px;
    /* padding:80px 0px 0px 14vw; */
    padding:9vh 0px 0px 130px;
}

#divImagenesSitios
{
    width:90% !important;
    margin:3% 0 0 5%;
    height: 55% !important;
    padding-top:0px !important;
    /* border: solid green; */
}

.divImgTxtSitios
{
    height:100% !important;        
    width: fit-content;
    margin:0 2vw 0 2vw;
    position: relative;    
    text-align: center;
    border:solid #00C2EA 14px;
    border-radius: 8%;
    background-color:transparent;
    
}

.divImgSitio
{
    /* border:solid blue; */
    height: 100%;
    width: fit-content;    
    background-color: transparent;    
    border-radius: 20%;
}

.imgClassSitios
{
    height: 100% !important;
    width:auto !important;
    border-radius: 4%;

}

.imgClassSitiosMobile
{
    display: none;
}

.divTextOverlay
{
  position: absolute;
  display: inline-block;  
  height: 100%;
  width:100%;
  color: white;
  font-family: chivoLight;  
  font-size: 15px;
  opacity: 0;
  transition: .5s ease;
  background-color: #00575E;
  border-radius: 6.5%;
  
}

.divImgTxtSitios:hover .divTextOverlay
{
    opacity: 0.6;
}

.titleOver
{
    padding-top:10vh;
    padding-bottom:5vh;
    font-family: chivoBold !important;

}

.hrSitios
{
    border:solid 1px;
    margin:0 20px 0 20px;
}

.textOver
{
    padding:20px 10px 0 10px !important;    
}

#divFormulario
{
        background-color: #00BFDF;
        display:block !important;
        position: relative;
        z-index: -1;
}

#titleFormulario
{
    color:white;
    font-family: chivoBold;
    font-size:40px;
    padding:120px 0px 0px 130px;
}

#formulario
{
    padding:50px 150px 0 150px;    
}

.form-group
{
    height: 50px !important;
    /* padding:20px 0 20px 0 !important; */
}

.form-control
{
    border-radius: 0 !important;
    /* border-color:#3B3B3B !important; */
    border: 0.1vw solid #528B97 !important;;
}

#btnEnviar
{
    background-color:#3B3B3B !important; 
    margin-top:40px;
    border-radius: 0;
}

.navBarBottom
{
    height:50px;
    background-color: #696969;
    color:white;
    font-family: chivoLight;
    font-size:20px;
    padding-left:5vw;   
    justify-content: left !important; 
    /* position:fixed !important; */
    position: absolute;
    left:0;
    bottom:0;
}

#twitterBottom
{
    padding-left:100px !important;
}

#hayAlternativa
{
    padding-left:40%;
}